@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
}

main{
    background-color: rgb(29, 28, 28);
    color: white;
    height: 400px;
}

main > h1{
    font-size: 16px;

}

.dropdown {  
    display: none; /* Oculta o dropdown por padrão */  
    position: absolute; /* Para posicionar corretamente */  
    background: white; /* Fundo branco para o dropdown */  
    border: 1px solid #ccc; /* Borda para o dropdown */  
    z-index: 1000; /* Certifique-se de que o dropdown está acima de outros elementos */  
    list-style: none;  
    padding: 0;  
    margin: 0; /* Remove margens padrão para evitar espaço extra */  
}  

/* Exibe o dropdown quando o mouse está sobre o item do menu */
li:hover .dropdown {  
    display: block; /* Exibe o dropdown ao passar o mouse */  
}  

.dropdown li {  
    padding: 8px 12px; /* Espaçamento para os itens do dropdown */  
    cursor: pointer; /* Indica que os itens são clicáveis */  
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */  
}  

.dropdown li:hover {  
    background-color: rgba(0, 0, 0, 0.1); /* Efeito de hover para os itens do dropdown */  
}